*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  
  /****** header ********/
  header{
    display: flex;
    justify-content: space-between;
    padding: 50px 100px;
  }
  
  nav{
    display: flex;
    gap: 57px;
    align-items: center;
  }
  
  
  .liens_globale{
    text-decoration: none;
    color: red;
  }
  
  .liens_globale:hover{
    text-decoration: underline;
  }