*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
  
  }



  main{
    /* max-width: 1440px;
    margin: auto;
    padding: 0 100px; */
  }


/* **** Banniere *****/

  
  
  
  
  /******** main ********/
  .mainAccueil{
    padding: 50px 40px;
    margin-top: 40px;
    border-radius: 25px;
    background: rgba(246, 246, 246, 1);
  }
  
  
  .gallery{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 57px;
  }
  
  
  .location{
    width: 340px;
    height: 340px;
    border-radius: 10px;
    background: rgba(255, 96, 96, 1);
  }

  img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }






/* Media queries RESPONSIVE */
  @media screen and (max-width: 944px) {
  
  
    /* main{
      padding-top: 30px;
    } */
    
    
    
    /* GALLERY */
    .mainAccueil{
      background-color: white;
      margin: auto;
    }
    
    .location{
      width: 335px;
      height: 255px;
    }
  }
  
  
  
  /* @media screen and (max-width: 954px){
    .title_banniere > p {
      position: relative;
      width: 250px;
      font-size: 26px;
    }
  } */