*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
  }

a{
  text-decoration: none;
  color: black;
}
  
  /******** main ********/
  .mainAccueil{
    max-width: 1440px;
    padding: 0 100px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .gallery{
    border-radius: 25px;
    background: rgba(246, 246, 246, 1);
    padding: 50px 0 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 57px;
  }
  
  .location{
    position: relative;
    width: 340px;
    height: 340px;
    border-radius: 10px;
    background: rgba(255, 96, 96, 1);
  }

  .location  p {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    font-size: 18px;
    font-weight: 500;
  }

  .location > a > img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }


/* Media queries RESPONSIVE */
  @media screen and (max-width: 944px) {
    .mainAccueil{
      margin-top: 0;
    }

    .gallery{
      padding-top: 30px;
      padding-bottom: 0;
    }
    
    
    
    /* GALLERY */
    .gallery{
      background-color: white;
      margin: auto;
    }
    
    .location{
      width: 335px;
      height: 255px;
    }
  }
  
  
  
