*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    max-width: 1440px;
    margin: auto;
    padding: 0 100px;
}

.btnsBarre{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rideauDeroulant{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0 auto;
    height: 52px;
    width: 82.5%;
    border-radius: 5px;
    background: rgba(255, 96, 96, 1);
}

.categories{
    margin-left: 20px;
    color: rgba(255, 255, 255, 1);
    font-size: 24px;
}

.arrow{
    width: 13.71px;
    height: 24px;
    transform: rotate(90deg);
}

.rideauDeroulant > button{
    border: none;
    background-color: rgba(255, 96, 96, 1);
    margin-right: 20px;
    cursor: pointer;
}


aside{
    width: 82.5%;
    background: rgba(246, 246, 246, 1);
    padding: 20px;

}

aside > p{
    color: rgba(255, 96, 96, 1);
}




/* Media QUERIES RESPONSIVE */
@media screen and (max-width: 944px) {
    .container{
        padding: 0 30px;
    }

    
}


@media screen and (max-width: 550px ) {
    .divCategories{
        width: 100%;
    }

    .banniere2_img{
        background-size: cover;
        background-position: center;
        height: 111px;
        border-radius: 10px;
     }

     main{
        padding-top: 0;
     }

     .divCategories{
        height: 30px;
       }
}

